[submodule "storage"]
	path = storage
	url = https://github.com/ennorehling/storage.git
	branch = master
[submodule "clibs"]
	path = clibs
	url = https://github.com/ennorehling/clibs
[submodule "tolua"]
	path = tolua
	url = https://github.com/ennorehling/tolua.git
