tolua/
.vscode/
*.orig
eressea.ini
Debug
Release

# SlickEdit
*.vtg
*.vpwhistu

# Microsoft Visual Studio build artefacts
src/Debug/
src/Release/
src/*.vcproj.*.user
Debug/
Release/
ipch/
*.ipch
*.ncb
*.opensdf
*.pdb
*.sdf
*.suo
*.user

*~
*.bak
bin/
build*/
*.log
*.log.*
tags
Thumbs.db
.gdb_history
*.cfg
*.cmd
tmp/
tests/config.lua
tests/reports/
tests/data/185.dat
/quicklist/
/cutest/
/critbit/
*.mo
