eressea.ini
Debug
Release

# SlickEdit
*.vtg
*.vpwhistu

# Microsoft Visual Studio build artefacts
src/Debug/
src/Release/
src/*.vcproj.*.user
Debug/
Release/
ipch/
*.ipch
*.ncb
*.opensdf
*.pdb
*.sdf
*.sh
*.suo
*.user

*~
*.bak
bin/
build*/
game-e2/data
game-e2/*.log*
game-e2/reports/
game-e3/data/
game-e3/*.log*
game-e3/reports/
*.log
*.log.*
tags
Thumbs.db
.gdb_history
