<?xml version="1.0"?>
<eressea xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="config://core/messages.xml"/>

  <!-- Localization -->
  <xi:include href="config://core/de/strings.xml"/>
  <xi:include href="config://core/en/strings.xml"/>
  <xi:include href="config://game/spellinfo.xml" />

  <xi:include href="config://core/common/items.xml" />
  <xi:include href="config://core/common/armor.xml" />
  <xi:include href="config://core/common/weapons.xml" />
  <xi:include href="config://core/common/resources.xml" />
  <xi:include href="config://core/common/luxuries.xml" />
  <xi:include href="config://core/common/herbs.xml" />
  <xi:include href="config://core/common/potions.xml" />
  <xi:include href="config://core/spoils.xml"/>
  <xi:include href="config://game/races.xml"/>
  <xi:include href="config://core/ships.xml"/>
  <xi:include href="config://core/common/buildings.xml"/>
  <xi:include href="config://game/familiars.xml"/>
  <xi:include href="config://game/artrewards.xml"/>
  <xi:include href="config://game/buildings.xml"/>
  <xi:include href="config://core/calendar.xml"/>
  <calendar name="secondage" newyear="month_1" start="184"/>
  <xi:include href="config://game/equipment.xml"/>
  <xi:include href="config://game/items.xml"/>
  <xi:include href="config://game/spells.xml"/>
  <xi:include href="config://game/strings.xml"/>
  <xi:include href="config://default/adamantium.xml"/>
  <equipment>
    <set name="first_unit">
      <item name="log" amount="50"/>
      <item name="stone" amount="50"/>
      <item name="iron" amount="50"/>
      <item name="laen" amount="10"/>
      <item name="sword" amount="1"/>
      <item name="mallorn" amount="10"/>
      <item name="skillpotion" amount="5"/>
      <item name="p2" amount="5"/>
      <item name="money" amount="20000"/>
      <skill name="perception" level="30"/>
      <skill name="melee" level="1"/>
    </set>
    <set name="new_faction">
      <item name="adamantium" amount="1"/>
    </set>
  </equipment>

  <xi:include href="config://default/names-undead.xml"/>
  <xi:include href="config://default/names-skeletons.xml"/>
  <xi:include href="config://default/names-zombies.xml"/>
  <xi:include href="config://default/names-ghouls.xml"/>
  <xi:include href="config://default/names-dragons.xml"/>

  <game>
    <!-- Game specific settings -->

    <order name="pay" disable="yes"/>

    <skill name="alchemy" enable="true"/>
    <skill name="crossbow" enable="true"/>
    <skill name="mining" enable="true"/>
    <skill name="bow" enable="true"/>
    <skill name="building" enable="true"/>
    <skill name="trade" enable="true"/>
    <skill name="forestry" enable="true"/>
    <skill name="catapult" enable="true"/>
    <skill name="herbalism" enable="true"/>
    <skill name="magic" enable="true"/>
    <skill name="training" enable="true"/>
    <skill name="riding" enable="true"/>
    <skill name="armorer" enable="true"/>
    <skill name="shipcraft" enable="true"/>
    <skill name="melee" enable="true"/>
    <skill name="sailing" enable="true"/>
    <skill name="polearm" enable="true"/>
    <skill name="espionage" enable="true"/>
    <skill name="quarrying" enable="true"/>
    <skill name="roadwork" enable="true"/>
    <skill name="tactics" enable="true"/>
    <skill name="stealth" enable="true"/>
    <skill name="entertainment" enable="true"/>
    <skill name="weaponsmithing" enable="true"/>
    <skill name="cartmaking" enable="true"/>
    <skill name="perception" enable="true"/>
    <skill name="taxation" enable="true"/>
    <skill name="stamina" enable="true"/>
    <skill name="unarmed" enable="true"/>
  </game>
  <strings>
    <string name="mailto">
      <text locale="de">eressea-server@eressea.de</text>
      <text locale="en">eressea-server@eressea.de</text>
    </string>
    <string name="newbie_info_1">
      <text locale="de">Bitte denke daran, deine Befehle mit dem Betreff
      ERESSEA 2 BEFEHLE an eressea-server@eressea.de zu senden.</text>
      <text locale="en">Remember to send your orders to
      eressea-server@eressea.de with the subject ERESSEA 2 ORDERS.</text>
    </string>
    <string name="mailcmd">
      <text locale="de">ERESSEA 2 BEFEHLE</text>
      <text locale="en">ERESSEA 2 ORDERS</text>
    </string>
    <string name="defaultorder">
      <text locale="de">ARBEITEN</text>
      <text locale="en">WORK</text>
    </string>
  </strings>
</eressea>
