# Crontab for Eressea on gruenbaer.kn-bremen.de

PATH=/home/eressea/bin:/opt/bin:/usr/local/bin:/usr/bin:/bin
ERESSEA=/home/eressea/eressea
ENABLED=yes
PREVIEW=yes
CONFIRM=yes

# m h  dom mon dow   command
00 00 * * *          $HOME/bin/fetchmail.cron
00 22 * * *          $HOME/bin/backup-db.sh

15 21 * * Sat        [ "$ENABLED" = "yes" ] && $ERESSEA/server/bin/run-eressea.cron 3
25 21 * * Sat        [ "$ENABLED" = "yes" ] && $ERESSEA/server/bin/run-eressea.cron 4
35 21 * * Sat        [ "$ENABLED" = "yes" ] && $ERESSEA/server/bin/run-eressea.cron 2
30 07 * * Sun        [ "$PREVIEW" = "yes" ] && $ERESSEA/server/bin/preview.cron
*/5 * * * *          [ "$CONFIRM" = "yes" ] && $ERESSEA/server/bin/orders.cron 2 3 4
